<form class="container">
    <h3>Log In</h3>
    <div class="row">

        <div class="col-8">
            <div class="form-group">
                <label for="enterUsername">Enter your Username:</label>
                <input type="text" class="form-control" id="enterUsername">
                <small id="noteUsername" class="form-text text-muted">in all lowercase</small>
            </div>
        </div>
        <div class="col-8">
            <div class="form-group">
                <label for="enterPassword">Enter your Password:</label>
                <input type="password" class="form-control" id="enterPassword">
            </div>
        </div>

        <div class="col-8 mt-3">
            <div class="form-group">
                <p id="msg"></p>
            </div>
        </div>

        <div class="col-8">
            <button type="submit" class="btn btn-primary" id="loginBtn">Login</button>
        </div>

        <div class="col-8 mt-3">
            <div class="form-group">
                <a href="/signup">Sign Up - New Account</a>
            </div>
        </div>

    </div>
</form>

<script src="./js/logIn.js"></script>