<form class="container">
    <h3>Sign Up</h3>
    <div class="row">

        <div class="col-8">
            <div class="form-group">
                <label for="enterUsername">Enter your Username:</label>
                <input type="text" class="form-control" id="enterUsername">
                <small id="noteUsername" class="form-text text-muted">in all lowercase</small>
                <p id="msg"></p>
            </div>
        </div>
        <div class="col-8">
            <div class="form-group">
                <label for="enterPassword">Enter your Password:</label>
                <input type="password" class="form-control" id="enterPassword" minlength="4">
                <small id="notePassword" class="form-text text-muted">minimum of 4 characters</small>
            </div>
        </div>

        <div class="col-8">
            <button type="submit" class="btn btn-primary" id="signupBtn">Sign Up</button>
        </div>

        <div class="col-8 mt-3">
            <div class="form-group">
                <a href="/login">Login - Existing Account</a>
            </div>
        </div>

    </div>
</form>

<script src="./js/signup.js"></script>